.Board {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  justify-content: space-between;
}

.Board-Left {  
  display: flex;
  flex-direction: row;
}

.Board-Left-Max {
  min-width: 72rem;
}

.Board-Scroll {
  height: 100%;
  margin-left: 3rem;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.13);
}

.Board-Padding {
  margin-left: 10rem;
}

.Board-Col {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.Board-Row {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.Component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.Component .comp_start {
  margin-top: 0.6rem;
  margin-left: 0.2rem;
}

.Component .comp_end {
  display: flex;
  margin-top: 0.6rem;
  margin-left: 0.3rem;
}
