@import '../constants/Styles.scss';

.DataView {
  table {
    border-collapse: collapse;
  }


  thead {
    background-color: $primary !important;
    display: table;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  thead th {
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    width: 20rem;
  }

  thead th:last-child {
    padding-right: 2rem;
  }

  tbody tr {
    border-bottom: 1px solid #eee;
    display: flex;
  }

  tbody tr td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    font-family: Montserrat;
    flex: 1;
  }

  .button {
    border-radius: 3px;
    border-width: 3px;
    border: solid black 1px;
    background-color: #eee;
    text-decoration: blink;
    padding: 1px;
    color: black;
  }

  .TableContainer {
    width: 99%;
    height: 30rem;
    overflow: scroll;
  }

}