@import '../constants/Styles.scss';

.ToolBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
  background-color: white;
  min-height: 8rem;
}

.ToolBox-Header {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0.6rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #b6b6b6;
  padding-top: 0.8rem;
  padding-bottom: 0.7rem;
}

.ToolBox-Container {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  height: fit-content;
  width: 240px;
}

.ToolItem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0.4rem;
  font-size: 1rem;
}

.SubTitle {
  margin-left: 2rem;
  font-size: 1.8rem;
  font-family: 'Montserrat';
  font-weight: 700;
  color: black;
}