.confusion-matrix table {
  width: 100%;
  background-color: gray;
}

.confusion-matrix th, .confusion-matrix td {
  text-align: center; 
  font-size: 1.2rem;
  color: white;
  padding: 0.3rem;
  border-left: solid #eee 1px;
  border-top: solid #eee 1px;
}
