.GraphBoard {
  z-index: 2;
  flex: auto;
  min-width: 360px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}

.Graph {
  background: lightgray;
  padding: 8px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.Table-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gray;
  width: fit-content;
}

.Table-Cell {
  color: white;
  font-size: 15px;
  margin: 8px;
  text-align: left;
  width: 50px;
}

.Table-Head {
  color: white;
  font-size: 15px;
  margin: 8px;
  text-align: left;
  width: 150px;
}

.Table-Row:nth-child(even) {
  background-color: #99a;
}
