@import '../constants/Styles.scss';

.Popup-Background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.2);
  z-index: 999;
}

.Popup {
  z-index: 1000;
  position: absolute;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.13); 
  padding: 1rem;
  min-width: 20rem;
  top: 6rem;
  left: 75%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  .Title {
    color: black;
    font-size: 1.2rem;
    font-family: $mainFont;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
    padding-left: 0 !important;
  }

  .Popup-Body {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
  }
}