@import '../constants/Styles.scss';

.Popup-Background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.2);
  z-index: 999;
}

.Popup {
  z-index: 1000;
  position: absolute;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.13); 
  padding: 1rem;
  min-width: 12rem;
  top: 6rem;
  left: 75%;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  .Title {
    color: black;
    font-size: 1.2rem;
    font-family: $mainFont;
    font-weight: 600;
    margin-top: 0.6rem;
    margin-bottom: 1.4rem;
    text-align: center;
    padding-left: 0 !important;
  }

  .Popup-Body {
    display: flex;
    flex-direction: column;
  }
}

.Popup-Center {
  margin: auto;
  margin-top: 20rem;
  position: initial;
  width: fit-content;
}