.PropertyWidget {
  background-color: #efefef;
  z-index: 2;
  padding-left: 8px;
  display: flex;
}

.PropertyWidget-Inner {
  width: 240px;
  min-width: 160px;
  padding: 8px;
  background-color: lightgray;
  font-size: 12px;
}

.PropertyWidget-Header {
  display: flex;
  justify-content: space-between;
}

.Properties-Container {
  padding-top: 12px;
  padding-bottom: 12px;
}

.Property-Item-Container {
  background-color: #f0f0f0;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.Property-Item-Header {
  display: flex;
  justify-content: space-between;
}

.Property-Item {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.Property-Item-Row {
  display: flex;
  justify-content: space-between;
}