.ToolBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  background-color: lightgray;
}

.ToolBox-Header {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.ToolBox-ScrollView {
  overflow-x: scroll;
}

.ToolBox-Container {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  height: fit-content;
  width: 120%;
}

.ToolItem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 8px;
}