.ToolBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
  background-color: lightgray;
  min-height: 8rem;
}

.ToolBox-Header {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-top: 0.6rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.ToolBox-Container {
  display: flex;
  flex-direction: row;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  height: fit-content;
}

.ToolItem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 0.4rem;
  font-size: 1rem;
}