@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import './constants/Styles.scss';

.App {
  display: flex;
  flex-direction: column;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  height: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menu {
  margin-left: 2rem;
  margin-bottom: -1rem;
}

.MenuContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
}

.Header-Left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.Title {
  color: $primary;
  font-family: $mainFont, sans-serif;
  font-size: 2.5rem;
  padding-left: 1rem;
  font-weight: 700;
  vertical-align: middle;
}

select {
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid $inactive;
  font-size: 1rem !important;
  font-family: "Montserrat" !important;
  width: 16rem;
  border-radius: 0.5rem;
}

select:focus {
  border-color: $primary-dark;
}

select:hover {
  border-color: $primary-dark;
}

input[type="checkbox"]:focus {
  outline: none;
}

input[type="checkbox"] {
  background: url(./checkbox-unchecked.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  appearance: none;
  transform: scale(1.2);
}

input[type="checkbox"]:checked {
  background: url(./checkbox-checked.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Checkbox {
  display: flex;
  align-items: center;
}

.Checkbox input[type="checkbox"] {
  margin-right: 0.5rem;
}

.SelectFile {
  border-radius: 0.5rem;
  background-color: $primary;
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: $mainFont;
  text-align: center;
  cursor: pointer;
  align-self: center;
}

.SelectFile:hover {
  background-color: $primary-dark;
}

.SelectFile input[type="file"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  margin-left: -5rem;
  padding-right: 4rem;
}

.MenuInside {
  margin-top: 0.4rem;
  margin-right: 1rem;
}

.MenuButton {
  height: 1.5rem;
  margin-top: 0.2rem;
}

.Model-Item {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.4rem;
}

.OrangeAvatar {
  background-color: #ff5722;
  color: white;
  font-weight: 700;
  font-family: $mainFont;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 3.2rem;
  padding: 0.8rem;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.__react_component_tooltip .multi-line {
  text-align: left !important;
}

.ToolTip-Custom {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 20px 0 rgba(0, 0, 0, 0.13) !important;
  font-size: 1.2rem;
  font-weight: 500;  
  font-family: $mainFont, sans-serif;
}

.Custom-Title {
  width: 30rem !important;
}

.MuiSvgIcon-colorAction {
  color: $secondary !important;
}

.Toastify__toast {
  min-height: 30px !important;
}

.Toast-Large {
  width: 500px !important;
  
  box-shadow: 4px 4px 8px 0 $primary-dark, -2px -2px 6px 2px $primary !important;

  table {
    width: 100%;
  }
}

.Toastify__toast-container {
  width: fit-content !important;
  min-width: 320px !important;
}

.error-select {
  border: 1px solid red;
}