@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.App {
  display: flex;
  flex-direction: column;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  height: 100%;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Menu {
  margin-left: 2rem;
  margin-bottom: -1rem;
}

.MenuContainer {
  display: flex;
  flex-direction: row;
}

.Title {
  color: #57d0ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-left: 24px;
}