html, body {
  height: 100%;
  font-size: 12px;
  overflow: hidden;
}

@media (max-width: 1750px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 1560px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 9px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
